:root {
    --button-color: #047aed;
    --only-gray: #181818;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--only-gray);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--only-gray);
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

h1{
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    margin: 40px;
}

h2 {
    font-weight: 500;
    font-size: 50px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

}

p {
    line-height: 1.7em;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

img {
    width: 100%;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
}

.menu a,
.cta {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.logo {
    width: 250px;
}

.logo , button {
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    margin-right: 80px;
}

.menu li {
    padding: 0 30px;
}

.menu li a {
    transition: color 0.1s ease 0s;
}

.menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

button {
    padding: 15px 45px;
    border: 1px solid #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: #edf0f1;
    transition: color 0.1s ease 0s;

}

button:hover {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5)
}

.menu .dropdown-content {
    display: none;
    position: absolute;
}

.menu .dropdown-content a {
    color: white;
}

.menu .dropdown:hover > .dropdown-content{
    display: block;
    width: 150px;
    padding-top: 20px;
}

/* Header 05 */

.top {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.header-text h1 {
    margin-top: 100px;
}

.header-text p,
.features p{
    max-width: 500px;
    margin: 0 auto;

}

/* Header 05 buttons */

.header-buttons {
    list-style: none;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    padding: 20px 27%
}

.boards {
    position: relative;
    padding-top: 200px;
    height: 900px;
}

.board:after {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to top,
    rgba(255,255,255, 1) 20%,
    rgba(255,255,255, 0) 80%
    );
    pointer-events: none; /* so the text is still selectable */
}

#footer {
    background-color: #000;
    display: flex;
    justify-content: center;
    height: 50px;
    margin-top: 150px;
}

#footer p {
    bottom: 50px;
    background-color: #000;
}






table, th, td  {
    padding: 5px;
    border: 7px solid #141414;
    border-collapse: collapse;
  }

  table {
    width: calc(100% - 100px);
    margin: 30px;
  }

  th {
    padding: 5px;
    background-color: #222222;
    border-color: var(--only-gray);
    border-width: 7px;
  }

  td {
    padding: 5px;
    text-align: center;
  }

  caption {
    padding-bottom: 60px;
    font-size: 40px;
  }



lable {
    padding: 50px;
}


.form {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-form {
    display: flex;
    align-items: center;
}

.form-header {
    font-size: 30px;
}

}
.box {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}

.txt-input {
    display: block;
    width: 300px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: white;
    border: 3px solid var(--only-gray);
    border-radius: 0.2rem;
}

.txt-input:focus {
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0.3rem #2C2C2C;
}

