:root {
    --button-color: #047aed;
    --only-gray: #181818;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--only-gray);
}

/* Scroll bar */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--only-gray);
}

::-webkit-scrollbar-thumb {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

body {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
}

h1{
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    margin: 40px;
}

h2 {
    font-weight: 500;
    font-size: 50px;
}

h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;

}

p {
    line-height: 1.7em;
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

img {
    width: 100%;
}

/* Navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
}

.menu a,
.cta {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.logo , button {
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    margin-right: 80px;
}

.menu li {
    padding: 0 30px;
}

.menu li a {
    transition: color 0.1s ease 0s;
}

.menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

button {
    padding: 15px 45px;
    border: 1px solid #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    color: #edf0f1;
    transition: color 0.1s ease 0s;

}

button:hover {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5)
}
